[submodule "output"]
	path = output
	url = https://github.com/alexisbcook/alexisbcook.github.io.git
[submodule "output/alexisbcook.github.io"]
	path = output/alexisbcook.github.io
	url = https://github.com/alexisbcook/alexisbcook.github.io.git
